body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00B7FF;
}


p {
  color: #e74a43;
  text-align: center;
}


h1
{
  color: #e74a43;
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}